:root {
  --ff-sans: "Press Start 2P", system-ui;
  --fw-normal: 400;

  --fs-400: 0.9375rem;
  --fs-900: 2.5rem;

  --color-primary: rgb(0, 28, 70);
  --color-accent: rgb(255, 32, 99);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: var(--ff-sans);
  font-weight: var(--fw-normal);
  font-size: var(--fs-400);
  color: var(--color-accent);
}

body {
  background-color: var(--color-primary);
}

h1 {
  font-size: var(--fs-900);
}

.wrapper {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board {
  --board-size: 500px;
  --game-letter-size: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8px;
  height: var(--board-size);
  width: var(--board-size);
  background-color: var(--color-accent);
  margin-block: 50px;
}

.game-board > div {
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--game-letter-size);
}

button {
  background-color: var(--color-accent);
  color: var(--color-primary);
  padding: 20px;
  border-radius: 50px;
  border: none;
  font-family: var(--ff-sans);
}